@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Raleway:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');

html,
body {
    height: 100%;
    width : 100%;
}

body {
    background-color: #f6f8fc;
    font-family     : 'Roboto', sans-serif;
}

.main {
    align-items    : start;
    display        : flex;
    justify-content: center;
    padding        : 3.75rem 2%;
    width          : 100%;
}

/* @media screen and (min-width: 998px) {
    .main:hover> :not(:hover) {
        background-color: darkcyan;
    }
} */

.container {
    background-color: #fff;
    border-radius   : 1rem;
    height          : 100%;
    margin          : 0 auto;
    max-width       : 1200px;
    padding         : 1.125rem 4%;
    transition      : 0.5s ease-in-out;
    width           : 100%;
}

.section-title {
    font-weight  : bolder;
    font-size    : 1.875rem;
    margin-bottom: 0.75rem;
}

.pagination {
    text-align: center;
    width     : 100%;
}

button#loadMore {
    background-color: #6600ff;
}

.btn-default {
    border                     : none;
    border-radius              : 0.25rem;
    color                      : #fff;
    cursor                     : pointer;
    display                    : inline-block;
    font-size                  : 1rem;
    padding                    : 1rem 2rem;
    text-align                 : center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration        : 0.4s;
}

.btn-default:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    opacity   : .9;
}