.pokemons {
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : .5rem;
}

@media screen and (min-width: 330px) {
    .pokemons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 998px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
}

.pokemon {
    border-radius : .625rem;
    color         : #fff;
    display       : flex;
    flex-direction: column;
    min-height    : 120px;
    padding       : .8rem .5rem;
}

@media screen and (min-width: 600px) {
    .pokemon {
        padding: .8rem 1rem;
    }
}

.pokemon-number {
    align-self : flex-end;
    color      : #fff;
    font-size  : .75rem;
    font-weight: bolder;
}

.pokemon-name {
    font-size     : .875rem;
    font-weight   : 500;
    text-transform: capitalize;
}

@media screen and (min-width: 600px) {

    .pokemon-number,
    .pokemon-name {
        font-size: 1rem;
    }
}

.pokemon-detail {
    align-items    : center;
    display        : flex;
    height         : 80px;
    flex-basis     : auto;
    justify-content: space-between;
    width          : 100%;
}

@media screen and (min-width: 998px) {
    .pokemon-detail {
        height: 150px;
    }
}

.pokemon-detail img {
    height    : 100%;
    object-fit: contain;
}

@media screen and (min-width: 998px) {
    .pokemon-detail img {
        height: 125px;
        width : 125px;
    }
}

.pokemon-type {
    border-radius: .75rem;
    color        : #000;
    font-size    : 0.8rem;
    filter       : brightness(1.1);
    padding      : .2rem .6rem;
    text-align   : center;
}

.pokemon-type:nth-child(1) {
    margin-bottom: 0.25rem;
}